<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/details/style.css">
</head>
<body>
    <header>
        <img class="cold" src="../storage/imgs/coldplay.svg" alt="">
        <div class="arrow">
            <a href="../index.html" style="background: none;"><img src="../storage/imgs/Left 2.svg" alt=""></a>
        </div>
    </header>
    <main>
        <section class="card-middle">
            <h3>Coldplay : <span>Music of the Spheres</span></h3>
            <p><img class="loc" src="../storage/imgs/locationGray.svg" alt="">Gelora Bung Karno Stadium, Jakarta</p>
            <p><img class="cal" src="../storage/imgs/calendarGrey.svg" alt="November 15 2023">November 15 2023</p>
            <div class="card-bot">
                <div class="persons">
                    <img src="../storage/imgs/per1.svg" alt="">
                    <img src="../storage/imgs/per2.svg" alt="">
                    <img src="../storage/imgs/per3.svg" alt="">
                </div>
                <h4>50K+ Participants</h4>
            </div>
        </section>
        <section class="rest-bot">
            <article>
                <h3>Description</h3>
                <p>Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet. <span>Read More..</span></p>
            </article>
            <article class="Map">
                <h3>Venue & Location</h3>
                <img src="../storage/imgs/mapLoc.svg" alt="">
            </article>
        </section>
    </main>
    <footer>
        <div class="textLeft"> 
            <h4>Start from</h4>
            <h3>IDR1.100.000</h3>
        </div>
        <a href="./tickets.html">Buy Ticket</a>
    </footer>
</body>
</html>