<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/tickets/style.css">
</head>
<body>
    <header>
        <img src="../storage/imgs/Left 2.svg" alt="">
        <img src="../storage/imgs/3point.svg" alt="">
    </header>
    <main>
        <section class="ticket">
            <img src="../storage/imgs/ticketColdplay.svg" alt="">
            <div class="title">
                <h2>Coldplay : Music of the Spheres</h2>
                <p>Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</p>
            </div>
            <article class="info">
                <div class="infoLeft">
                    <div class="name">
                        <h4>Name</h4>
                        <p>Indriyani Puspita</p>
                    </div>
                    <div class="name">
                        <h4>Date</h4>
                        <p>Nov 15 2023</p>
                    </div>
                    <div class="name">
                        <h4>Gate</h4>
                        <p>Yellow</p>
                    </div>
                </div>
                <div class="infoLeft">
                    <div class="name">
                        <h4>Order Number</h4>
                        <p>CLD09738PL</p>
                    </div>
                    <div class="name">
                        <h4>Time</h4>
                        <p>9:00 PM</p>
                    </div>
                    <div class="name">
                        <h4>Seat</h4>
                        <p>West B</p>
                    </div>
                </div>
            </article>
            <div id="bola">
            </div>
            <div id="bola2">
            </div>

            
        </section>
    </main>
</body>
</html>